@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: black;
}
h1, h2, h3, h4, li, th{
    color: rgb(255, 255, 255);
}
p, td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin: 1rem 0;
}
.font-dance{
    font-family: "Dancing Script", cursive;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn-primary{
    width: 200px;
    text-align: center;
    height: 44px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: rgb(146, 45, 30);
}

/* navbar related styles */
header{
    padding: 2rem 12rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
}
.nav-img{
    display: none;
}
.navbar ul{
    display: flex;
    gap: 2rem
}
.navbar ul li a{
    padding: 0.3rem 0.8rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.navbar ul li a:hover{
    background-color: rgb(230, 83, 60);
}
#home a{
    background-color: rgb(230, 83, 60);
}

.logo h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    cursor:pointer;
}