@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* common shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: black;
}
h1, h2, h3, h4, li, th{
    color: rgb(255, 255, 255);
}
p, td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin: 1rem 0;
}
.font-dance{
    font-family: "Dancing Script", cursive;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn-primary{
    width: 200px;
    text-align: center;
    height: 44px;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: rgb(146, 45, 30);
}

/* navbar related styles */
header{
    padding: 2rem 12rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
}
.nav-img{
    display: none;
}
.navbar ul{
    display: flex;
    gap: 2rem
}
.navbar ul li a{
    padding: 0.3rem 0.8rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.navbar ul li a:hover{
    background-color: rgb(230, 83, 60);
}
#home a{
    background-color: rgb(230, 83, 60);
}

.logo h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
    cursor:pointer;
}
/* Banner related styles */
.banner{
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.0) 100%);
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h1{
    font-size: 4.6rem;
    font-weight: 900;
}
.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 60%;
}
.banner-btn{
    display: flex;
    gap: 1rem;
}
#btn-app {
    width: 200px;
    text-align: center;
    height: 44px;
    color: rgb(255, 255, 255);
    border-radius: 2.5rem;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
}
#btn-app:hover{
    background-color: rgb(230, 83, 60);
    border: none;
}

/* habits section */
.habit-container{
    margin: 4rem auto;
}
.habit-content{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}
.habit-content h1{
    font-size: 2.7rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.habit-content p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0;
}
.habit-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1044px;
    gap: 1.5rem;
    margin: 5rem auto;
}
.habit-card{
    text-align: center;
}
.habit-card img{
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.habit-card h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 1.5rem;
}
.habit-box p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0;
}

/* runner section */
.runner{
    margin-bottom: 6rem;
}
.runner-container{
    max-width: 1060px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem auto;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    padding: 2rem;
}
.runner-content{
    background: transparent;
}
.runner-content h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background: transparent;
}
.runner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin: 1rem 0;
    background: transparent;
}
.runner-img{
    background: transparent;
    display: flex;
    justify-content: end;
}
.runner-img img{
    border-radius: 1rem;
    width: 80%;
}

/* footer related styles */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 4rem 2rem;
    background: transparent;
    justify-content: space-between;
}
.footer-title, .footer-service, .footer-getStarted, .footer-title h1, .footer-title p, .footer-service h2, .footer-service h4, .footer-getStarted h4, .footer-getStarted h2{
    background: transparent;
}
.empty{
    padding-top: 4rem;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.empty p{
    background: transparent;
    margin-bottom: 0;
    padding-bottom: 4rem;
}
.footer-title{
    max-width: 443px;
}
.footer-service, .footer-getStarted{
    max-width: 181px;
}
.footer-title h1{
    font-size: 4rem;
    font-weight: 700;
    color: rgb(230, 83, 60);
}
.footer-service h2, .footer-getStarted h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.footer-service h4, .footer-getStarted h4{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem 0;
}

/* team section */
.team-content{
    max-width: 650px;
    margin: 3rem auto;
    text-align: center;
}
.team-content h1{
    font-size: 2.6rem;
    font-weight: 900;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1060px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}
.img{
    background: transparent;
    position: relative;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.img-content{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background: transparent;
}
.img-content h3, .img-content p{
    background: transparent;
    margin: 0.25rem;
}

/* BMI section */
.bmi-calculator-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 12rem;
    background: rgb(34, 34, 34);
}
.bmi-content{
    max-width: 651px;
    margin: 4rem auto;
}
.bmi-content h1{
    font-size: 2.8rem;
    font-weight: 800;
}
.bmi-table h2{
    margin-bottom: 3rem;
    background: rgb(34, 34, 34);
}
.bmi-calculator{
    max-width: 550px;
    background: rgb(34, 34, 34);
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-collapse: collapse;
    background: rgb(34, 34, 34);
}
.input-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background: rgb(34, 34, 34);
}
.activity{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0;
    background: rgb(34, 34, 34);
    margin-bottom: 2rem;
}
input, select{
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    border: none;
}
.gray-background{
    background: rgb(34, 34, 34);
}
.bmi-table, .bmi-calculator-content, .bmi-calculator-content h2, .bmi-calculator-content p, .calculator{
    background-color: rgb(34, 34, 34);
}